.footer {
  background-color: rgba(0, 0, 0, .86);
  font-size: 2em;
  color: #ddd;
}

.footer__container {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: arial;
  height: 100%;
}




.footer__link-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 600px) {
  html body .footer__link-items {
    flex-flow: column nowrap;
  }
  
  .footer__link-item {
    margin: 7px 0;
  }

}

.footer__link {
  font-family: 'roboto', sans-serif;
  color: white;
  font-weight: bolder;
  border-bottom: 10px solid transparent;
  text-decoration: none;
  padding-bottom: 3px;
  cursor: pointer;
  text-decoration: none;
  
}

.footer__link:active, .footer__link:hover {
  text-decoration: none;
  border-bottom: 7px solid white;
}

.footer__note {
  width: 100%;
  padding: 10px 10px;
  line-height: 1.5;
  background-color: rgba(0, 200, 83, 0.75);
  background: linear-gradient(to left, #00C853 , #0A8E41); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.87;
  font-size: 0.6em;
}

.footer__note-sentence {
  text-align: center;
}

.footer__highlight {
  
}

