.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  transform: translateZ(0);
  transition: background-color 0.8s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}

.nav--scrolled {
  background-color: rgba(0, 0, 0, 1);
}

.nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav__item {
  
}

.nav__button {
  color: white;
  display: block;
  height: 62px;
  line-height: 62px;
  text-decoration: none;
  padding: 0 20px;
}

.nav.nav--scrolled .nav__button--active, .nav__button:active, .nav__button:hover {
  background-color: #111;
  border-bottom: 3px solid white;
}

.nav .nav__button--active, .nav__button:active, .nav__button:hover {
  background-color: none !important;
  border-bottom: 3px solid white;
}
